/* CSS Document */
body {
    background-color: #000000;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

@media screen and (max-width: 650px) {
    .box,ul,button{
        width: 100%;
    } 
 }

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    position: static;
    top: 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
}

li, li a {
	color: #eb8bf7;
    font-size: large;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-transform: none;
	padding: 2vh 3vh;
    margin: 1% 0;
}


  a {
    color: #eb8bf7;
   
  }
  a.active,a:hover {
  background-color: #eb8bf7;
  color: #651c93;
}

.box {
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: #651c93;
  border: 2px solid #c961d7;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 1vh;
  border-radius: 25px;
  height:auto;
}

h2 {
font-size: large;
color: #eb8bf7;
text-align: center;
font-weight: bold;
}
p {
font-size: medium;
color: #eb8bf7;
text-align: center;
}
.home, .topster, .random {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.random {
	width: 80%;
}
.topster {
	width: 100%;
}
.logo {
    width: 30px;
    height: 30px;
    margin-right: 1vw;
}
button {
  text-align: center;
  background-color: #eb8bf7;
  color: #651c93;
  padding: 14px 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor:pointer;
  font-weight: bold;
}

button:hover {
    opacity: 0.8;
  }