/* CSS Document */
body {
    background-color: #000000;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

ul {
    list-style-type: none;
    padding: 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	width: auto%;
}


li, li a {
	color: #eb8bf7;
    font-size: large;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-transform: none;
	padding: 2vh 3vh;
    margin: 1% 0;
	border-radius: 25px;
}
p {
	width:98%
}

  a {
    color: #eb8bf7;
   
  }
  a.active,a:hover {
  background-color: #eb8bf7;
  color: #651c93;
}

.box {
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: #000000B3;
  border: 2px solid #c961d7;
  position: sticky;
  width: 60%;
  margin: auto;
  margin-bottom: 1vh;
  border-radius: 25px;
  height:auto;
}

h2 {
font-size: large;
color: #eb8bf7;
text-align: center;
font-weight: bold;
}
p {
font-size: medium;
color: #eb8bf7;
text-align: center;
}
.home{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo {
    width: 20px;
    height: 20px;
}
.banner {
    width:25vh;
   
}

button {
  text-align: center;
  background-color: #eb8bf7;
  color: #651c93;
  padding: 14px 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor:pointer;
  font-weight: bold;
  width: 20%;
}

#booty {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 0;
            pointer-events: none;
        }
.star {
            position: absolute;
			
        }
		
button:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 800px) {
    ul,button{
        width: 90%;
	border-radius: 25px;
	margin-top: 1vw;
	margin-bottom: 1vw;
    } 
	.box
	{
		width: 100%;
		padding: 0;
		margin: 0;
		border-radius: 5px;
	}

 }

