body {
    background-image: url("imgs/sitestuff/bg.png"); ;
    font-family: "Questrial", sans-serif;
	font-weight: bold;
}

ul {
    padding: 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    background-color: #FFFFFFB2;
    border: 2px solid;
    width: 60%;
    margin: auto;
    margin-bottom: 1vh;
    padding: 10px;
	filter: drop-shadow(0px 0px 4px black);
}

.look-ahead {
    filter: drop-shadow(0px 0px 4px #0FC616);
}

.lonely-space-bunny {
    filter: drop-shadow(0px 0px 4px #F2086D);
}

.nout {
    filter: drop-shadow(0px 0px 4px black);
}

h2,p {
    text-align: center;
}

p {
    font-size: medium;
	width: 98%;
}

.logo {
    width: 20px;
    height: 20px;
}

.banner, .icon {
	display: flex;
    margin: 0 auto;
	width: 20vh;
	filter: drop-shadow(0px 0px 10px black);
}
.banner {
    width: 25vh;
}
.icon {
    width: 15vh;
}

.album-art {
    display: block;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-art:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

a {
	cursor: pointer;
	text-decoration: underline;
}
button {
	color: #000;
    text-align: center;
    padding: 14px 20px;
    margin: 10px auto;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: 20%;
    display: block;
}

.star {
    position: absolute;
}

button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 900px) {
    ul, button {
        width: 90%;
        border-radius: 25px;
		margin: 0 auto;
		margin-top: 1vw;
        margin-bottom: 1vw;
    }
    
    .box {
        width: 95%;   
        padding: 10px;
    }
}
