@font-face {
  font-family: RPG;
  src: url("rpg-maker-2k.otf");
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: RPG;
    font-size: 200%;
    cursor: url(images/mu.gif),auto;
}

.scrolling-image-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.scrolling-image {
  width: 100%;
  height: 100%;
  background-image: url("images/map_castle_night.png");
  background-repeat: repeat;
  background-size: auto 100%;
  background-position: 0 0;

  image-rendering: pixelated;

  animation: slide 80s linear infinite;
}

@keyframes slide {
  from {
    background-position-x: right;
  }

  to {
    background-position-x: left;
  }
}

.box {
    width: 40vw;

    padding: 30px;

    text-align: center;

    border-radius: 30px;

background: linear-gradient(300deg,rgba(0, 0, 54),rgba(0, 0, 70));
	animation: gradient-animation 1s ease infinite;
  color: rgba(132, 222, 255, 0.5);
}

@media screen and (max-width: 1500px) {
    .box {
      width: 60vw; 
        margin: 0 auto;
        padding: 10px;
    }
}


@media screen and (max-width: 800px) {
    .box {
        width: 90%; 
        margin: 0 auto;
        padding: 10px;
    }
}

.banner {
	 width: 70%;
   opacity: 0.7;
   transform: translate(0, 5px);
}

.links {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,63,186,0.8);
}

.links a {
    text-decoration: none;

    padding: 14px;

    border: 5px solid rgba(82,200,243,0.5);
    color: rgba(132, 222, 255, 0.5);

    font-weight: bold;
}

a:hover .pointer{
  opacity: 1;
  animation: blink-animation 1.5s steps(1, start) infinite;
  animation-delay: 0.75s;
}

.pointer{
  opacity: 0;
  position: absolute;
  transform: translate(-125%, -20%);
  width:64px;
  image-rendering: pixelated;
}

.icon{
  width:64px;
  image-rendering: pixelated;
}

@keyframes blink-animation {
  50% {
      visibility: hidden;
  }
}