/* CSS Document */
body {
    background-color: #f5f5f5; /* Light gray background */
	font-family: 'Arial', sans-serif; /* Sans-serif font for a clean look */
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;
    position: static;
    top: 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
}

li, li a {
	color: #333; /* Dark gray text */
    font-size: large;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-transform: none;
	padding: 2vh 3vh;
    margin: 1% 0;
}

a {
    color: #333; /* Dark gray text */
}

a.active, a:hover {
  background-color: #333; /* Dark gray background on hover */
  color: #fff; /* White text on hover */
}

.box {
  margin: 0;
  padding: 10px; /* Added 'px' unit for padding */
  overflow: hidden;
  background-color: #fff; /* White background */
  border: 2px solid #333; /* Dark gray border */
  width: 60%;
  margin: auto;
  margin-bottom: 1vh;
  border-radius: 25px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.homebox {
  margin: 0;
  padding: 10px; /* Added 'px' unit for padding */
  overflow: hidden;
  background-color: #fff; /* White background */
  border: 2px solid #333; /* Dark gray border */
  width: 70%;
  margin: auto;
  margin-bottom: 1vh;
  border-radius: 25px;
  height: auto;
  top: 0;
  position: sticky;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Soft shadow effect */
}

.home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Maintain the aspect ratio */
}

h2 {
    font-size: large;
    color: #FFF; /* Dark gray text */
    text-align: center;
    font-weight: bold;
}

p {
    font-size: medium;
    color: #FFF; /* Dark gray text */
    margin-left: 30px;
}

button {
  text-align: center;
  background-color: #333; /* Dark gray button */
  color: #fff; /* White text */
  padding: 14px 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
    opacity: 0.8;
}
